@model IEnumerable<Fun.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.gameName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gameAuthor)
            </th>
@*             <th>
                @Html.DisplayNameFor(model => model.gamePrice)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.gameName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gameAuthor)
            </td>
@*             <td>
                @Html.DisplayFor(modelItem => item.gamePrice)
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
